In [4]:
import numpy as np
import pandas as pd
import os

from google.colab import drive
drive.mount('/content/drive')

pd.set_option("display.max_columns", 99)
os.chdir("/content/drive/MyDrive/projects/ssc23-case-comp")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Production data

We first prepare the production data by extracting year-end(month==12) production data from all census subdivisions.

* We pick month == 12 instead of yearly sums because we believe the year-end production best reflects the consequences of extreme weather during the year than yearly sum.

In [11]:
province_prod = pd.DataFrame()
provinces = ["AB", "BC", "MB", "NB", "NL", "NS", "ON", "PE", "QC", "PE", "SK"]
for pr in provinces:
    
    prod_temp_filename = "./data/user_data/01_iv_analysis/" + pr + "/prod_temp.csv"

    prod_temp = pd.read_csv(prod_temp_filename)
    
    # - Exclude "production_in_division_" from all column names
    prod_temp.columns = [col.replace("production_in_division_", "") for col in prod_temp.columns]
    
    # - Rename lat, lon to prod_lat, prod_lon
    prod_temp.rename(columns = {"lat":"prod_lat", "long":"prod_lon"}, inplace = True)
    
    # - Extract data for month == 12.
    prod_temp = prod_temp.loc[prod_temp.month == 12, :].drop(columns = ["Date", "month", "tavg", "tmin", "tmax", "census_year_ref", "max_lat", "min_lat", "max_long", "min_long"]).reset_index(drop = True)

    # - collect prod_temp by concat prod_temp to province_prod by row
    province_prod = pd.concat([province_prod, prod_temp], axis = 0)

print(province_prod.shape)
province_prod.tail()

# drop rows that have NaN Dominant_NAICS
province_prod = province_prod.dropna(subset = ["Dominant_NAICS"])
province_prod.tail()

# save province_prod
province_prod.to_csv("./data/user_data/02_counterfactual_analysis/province_prod.csv", index = False)

(129150, 22)

In [12]:
# - Check column names 
province_prod.columns

Index(['provincename', 'X22.Utilities', 'X23.Construction',
       'X31.33.Manufacturing', 'X48.49.Transportation.and.warehousing',
       'X61.Educational.services', 'X62.Health.care.and.social.assistance',
       'X72.Accommodation.and.food.services',
       'X81.Other.services..except.public.administration.',
       'X91.Public.administration',
       'X11.Agriculture.forestry.fishing.hunting.21.Mining.quarrying.and.oil.and.gas.extraction',
       'X41.Wholesale.trade.44.45.Retail.trade',
       'X52.Finance.and.insurance.53.Real.estate.and.rental.and.leasing',
       'X54.Professional..scientific.and.technical.services.55.56',
       'X51.Information.culture.and.recreation.71', 'Population', 'GeoUID',
       'Dominant_NAICS', 'colourval', 'year', 'prod_lat', 'prod_lon'],
      dtype='object')

## Weather station data

Here, we create a dataset that includes:

* name, lat, long of the weather stations.
* year
* tmin
* tmax
* tavg
* prcp
<!-- * extreme_flag: total number of either of ext_tmax or ext_tmin during the year. -->
* tmax_flag: total number of ext_tmax during the year.
* tmin_flag: total number of ext_tmin during the year.
* total_flag: sum of tmax_flag and tmin_flag.

In [14]:
# Load data
weather = pd.read_csv("./data/climate_data/weather_Station_data.csv")
print(weather.columns)

# Extract columns
weather_columns = ["Station Name", "Longitude (x)", "Latitude (y)", "Year", "Month", 
"Mean Max Temp (°C)", 'Mean Min Temp (°C)', 'Mean Temp (°C)', 
'Extr Max Temp (°C)', 'Extr Max Temp Flag', 'Extr Min Temp (°C)', 'Extr Min Temp Flag',
'Total Precip (mm)', 'Total Precip Flag'
]

weather = weather.loc[:, weather_columns]
# display(weather.head())
weather2 = weather.rename(columns = {
    "Longitude (x)":"lon", "Latitude (y)":"lat", "Year":"year", "Month":"month",
    "Mean Max Temp (°C)":"tmax", "Mean Min Temp (°C)":"tmin", "Mean Temp (°C)":"tavg", 
    "Extr Max Temp (°C)":"tmax_ext", "Extr Min Temp (°C)":"tmin_ext",
    "Extr Max Temp Flag":"tmax_ext_flag", "Extr Min Temp Flag":"tmin_ext_flag",
    "Total Precip (mm)":"precip", "Total Precip Flag":"precip_flag"})
weather2.sample(5)

Index(['Longitude (x)', 'Latitude (y)', 'Station Name', 'Climate ID',
       'Date/Time', 'Year', 'Month', 'Mean Max Temp (°C)',
       'Mean Max Temp Flag', 'Mean Min Temp (°C)', 'Mean Min Temp Flag',
       'Mean Temp (°C)', 'Mean Temp Flag', 'Extr Max Temp (°C)',
       'Extr Max Temp Flag', 'Extr Min Temp (°C)', 'Extr Min Temp Flag',
       'Total Rain (mm)', 'Total Rain Flag', 'Total Snow (cm)',
       'Total Snow Flag', 'Total Precip (mm)', 'Total Precip Flag',
       'Snow Grnd Last Day (cm)', 'Snow Grnd Last Day Flag',
       'Dir of Max Gust (10's deg)', 'Dir of Max Gust Flag',
       'Spd of Max Gust (km/h)', 'Spd of Max Gust Flag'],
      dtype='object')

<ipython-input-14-b452096ef572>:2: DtypeWarning: Columns (17,21,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  weather = pd.read_csv("./data/climate_data/weather_Station_data.csv")

,Station Name,lon,lat,year,month,tmax,tmin,tavg,tmax_ext,tmax_ext_flag,tmin_ext,tmin_ext_flag,precip,precip_flag
31251,BEAVER,-98.70,50.05,2004,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN
8309,NOTRE DAME DE LA PAIX,-74.98,45.80,2000,1,-6.4,-16.5,-11.4,6.0,NaN,-32.0,NaN,65.6,NaN
49753,SHEPHERD BAY A,-93.43,68.82,1999,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24626,GEORGETOWN WWTP,-79.88,43.64,1999,6,25.1,10.1,17.6,32.5,NaN,1.5,NaN,70.2,NaN
33118,OAKBANK,-96.85,49.93,2005,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.8,NaN

In [7]:
print(weather2.tmax_ext_flag.unique())
print(weather2.tmin_ext_flag.unique()) 
print(weather2.precip_flag.unique())
# I: incomplete
# S: more than 1 occurrence
# E: estimated
# B: more than 1 occurence & estimated
# M: missing
# T: trace; value is zero.

[nan 'I' 'S' 'E' 'B']
[nan 'S' 'I' 'E' 'B' 'M']
[nan 'E' 'I' 'M' 'T' 'TRUE']

In [17]:
# extreme_flag == 1 if one of tmax_ext_flag, tmin_ext_flag is either one of S, E, and B
weather2["extreme_flag"] = np.where((weather2.tmax_ext_flag.isin(["S", "E", "B"])) | (weather2.tmin_ext_flag.isin(["S", "E", "B"])), 1, 0)

# tmax_flag == 1 if tmax_ext_flag is either one of S, E, and B
weather2["tmax_flag"] = np.where(weather2.tmax_ext_flag.isin(["S", "E", "B"]), 1, 0)

# tmin_flag == 1 if tmin_ext_flag is either one of S, E, and B
weather2["tmin_flag"] = np.where(weather2.tmin_ext_flag.isin(["S", "E", "B"]), 1, 0)

# total_flag = sum of tmax_flag, tmin_flag, and precip_flag
weather2["total_flag"] = weather2.tmax_flag + weather2.tmin_flag

# group by Station Name, year, lat, long, and sum the flags.
weather3 = weather2.groupby(["Station Name", "year", "lat", "lon"], as_index=False).agg({"extreme_flag":"sum", "tmax_flag":"sum", "tmin_flag":"sum", "total_flag":"sum"})
# weather3.head()

# filter out unique sets of lat, lon
weather_unique = weather3.drop_duplicates(subset = ["lat", "lon"]).reset_index(drop = True)[["Station Name", "lat", "lon"]]
display(weather_unique.sample(5))
display(weather_unique.shape)

             Station Name    lat     lon
467            ST. ALBERT  45.29  -75.06
24                BARWICK  48.63  -93.97
16            ATMORE AGDM  54.78 -112.83
162  FUNDY PARK (ALMA) CS  45.60  -64.95
543                 YOHIN  61.24 -123.74

(545, 3)

## Merge the production and weather station data

In [18]:
# filter out unique GeoUID and their prod_lat, prod_lon from province_prod, drop NaN
province_prod = pd.read_csv("./data/user_data/02_counterfactual_analysis/province_prod.csv")
province_prod_unique = province_prod.drop_duplicates(subset = ["GeoUID", "prod_lat", "prod_lon"]).dropna().reset_index(drop = True)[["provincename", "GeoUID", "prod_lat", "prod_lon"]]

display(province_prod_unique.head())
display(province_prod_unique.shape)

  provincename   GeoUID   prod_lat    prod_lon
0      Alberta  4801003  50.014229 -110.583589
1      Alberta  4801006  50.045816 -110.701488
2      Alberta  4801008  49.481525 -111.161699
3      Alberta  4801009  49.475704 -111.448178
4      Alberta  4801014  49.873328 -111.370904

(4475, 4)

In [19]:
# Match weather stations to closest GeoUID
# - 1. For each GeoUID, find the closest weather station.
#  * Each station can have multiple close GeoUIDs, but each GeoUID will have 
#    only one closest station.
# - 2. For each weather station in 1, take the most dominating provincename.
# - 3. Sum the GeoUIDs' productions over weather stations.


# STEP 1
# - Function to measure Eucleadian distance between two lat/lon pairs
def distance(lat1, lon1, lat2, lon2):
    return np.sqrt((lat2 - lat1)**2 + (lon2 - lon1)**2)

# For each GeoUID, find the closest station name and its lat, lon.
# - Add weather Station name, lat, lon, distance columns to a copy of province_prod_unique.

province_prod_unique2 = province_prod_unique.copy()
province_prod_unique2["weather_station_name"] = ""
province_prod_unique2["weather_station_lat"] = 0
province_prod_unique2["weather_station_lon"] = 0
province_prod_unique2["weather_station_distance"] = 0

for i in range(province_prod_unique2.shape[0]):
    
    # - get GeoUID, prod_lat, prod_lon
    geo_uid = province_prod_unique2.loc[i, "GeoUID"]
    prod_lat = province_prod_unique2.loc[i, "prod_lat"]
    prod_lon = province_prod_unique2.loc[i, "prod_lon"]
    
    # - get weather station name, lat, lon
    weather_station_name = weather_unique.loc[weather_unique.index[0], "Station Name"]
    weather_station_lat = weather_unique.loc[weather_unique.index[0], "lat"]
    weather_station_lon = weather_unique.loc[weather_unique.index[0], "lon"]
    
    # - compute distance
    weather_station_distance = distance(prod_lat, prod_lon, weather_station_lat, weather_station_lon)
    
    # - loop through weather_unique to find the closest station name, lat, lon
    for j in range(weather_unique.shape[0]):
        # j = 1
        
        # - get weather station name, lat, lon
        weather_station_name_temp = weather_unique.loc[weather_unique.index[j], "Station Name"]
        weather_station_lat_temp = weather_unique.loc[weather_unique.index[j], "lat"]
        weather_station_lon_temp = weather_unique.loc[weather_unique.index[j], "lon"]
        
        # - compute distance
        weather_station_distance_temp = distance(prod_lat, prod_lon, weather_station_lat_temp, weather_station_lon_temp)
        
        # - if distance is smaller, update weather_station_name, lat, lon, distance
        if weather_station_distance_temp < weather_station_distance:
            weather_station_name = weather_station_name_temp
            weather_station_lat = weather_station_lat_temp
            weather_station_lon = weather_station_lon_temp
            weather_station_distance = weather_station_distance_temp
    
    # - update province_prod_unique2
    province_prod_unique2.loc[i, "weather_station_name"] = weather_station_name
    province_prod_unique2.loc[i, "weather_station_lat"] = weather_station_lat
    province_prod_unique2.loc[i, "weather_station_lon"] = weather_station_lon
    province_prod_unique2.loc[i, "weather_station_distance"] = weather_station_distance


province_prod_unique2 = province_prod_unique2.dropna().reset_index(drop = True)
province_prod_unique2.head()
province_prod_unique2.shape

(4475, 8)

In [20]:
# STEP 2.
# - Extract weather_station_name and provincename
station_province = province_prod_unique2[["weather_station_name", "provincename"]].drop_duplicates().reset_index(drop = True)
station_province.shape

# - for each weather_station_name, compute the number of provincename
station_province["num_provincename"] = 0
for i in range(station_province.shape[0]):
    # i = 0
    weather_station_name = station_province.loc[i, "weather_station_name"]
    # weather_station_name
    num_provincename = station_province[station_province["weather_station_name"] == weather_station_name].shape[0]
    station_province.loc[i, "num_provincename"] = num_provincename

dup_provinces = station_province[station_province["num_provincename"] > 1]["weather_station_name"].tolist()

for station in dup_provinces:
    # station = dup_provinces[0]
    temp_dup = province_prod_unique2[province_prod_unique2["weather_station_name"] == station].groupby(["provincename"]).count().reset_index()
    dominant_prov = temp_dup[temp_dup["GeoUID"] == temp_dup["GeoUID"].max()]["provincename"].tolist()[0]

    # - drop all the rows with weather_station_name == station and provincename != dominant_prov
    province_prod_unique2 = province_prod_unique2[~((province_prod_unique2["weather_station_name"] == station) & (province_prod_unique2["provincename"] != dominant_prov))].reset_index(drop = True)

# - left join province_prod_unique2 to province_prod by GeoUID
province_prod.columns
province_prod_unique2.columns
province_prod2 = pd.merge(province_prod, province_prod_unique2[["GeoUID", "weather_station_name"]], on = "GeoUID", how = "left")
province_prod2_cols1 = ["weather_station_name", "year", "provincename"]
province_prod2_cols2 = province_prod.columns[1:16].tolist()  # production data
province_prod2_cols = province_prod2_cols1 + province_prod2_cols2

In [26]:
# STEP 3.
# - group by weather_station_name and year, sum up all the columns in province_prod2_cols
province_prod3 = province_prod2[province_prod2_cols].dropna().groupby(["weather_station_name", "year", "provincename"]).sum().reset_index()
# print(province_prod3.shape)
# province_prod3.head()

# - merge province_prod4 to weather3 by weather_station_name and year
weather_prod_final = pd.merge(weather3, province_prod3, left_on = ["Station Name", "year"], right_on = ["weather_station_name", "year"], how = "left").dropna().reset_index().drop(columns = ["index", "Station Name"])
print(weather_prod_final.shape)
weather_prod_final.head()
weather_prod_final.tail()

(5301, 24)

,year,lat,lon,extreme_flag,tmax_flag,tmin_flag,total_flag,weather_station_name,provincename,X22.Utilities,X23.Construction,X31.33.Manufacturing,X48.49.Transportation.and.warehousing,X61.Educational.services,X62.Health.care.and.social.assistance,X72.Accommodation.and.food.services,X81.Other.services..except.public.administration.,X91.Public.administration,X11.Agriculture.forestry.fishing.hunting.21.Mining.quarrying.and.oil.and.gas.extraction,X41.Wholesale.trade.44.45.Retail.trade,X52.Finance.and.insurance.53.Real.estate.and.rental.and.leasing,X54.Professional..scientific.and.technical.services.55.56,X51.Information.culture.and.recreation.71,Population
5296,2002,51.44,-116.34,4,1,3,4,YOHO PARK,Alberta,0.0,0.734108,0.0,0.0,0.925170,0.462136,0.314625,0.382686,2.212805,3.089324,0.505408,0.0,0.729863,2.687369,1265.0
5297,2003,51.44,-116.34,1,0,1,1,YOHO PARK,Alberta,0.0,0.775217,0.0,0.0,0.865017,0.476920,0.315156,0.430354,2.112967,3.131059,0.558060,0.0,0.723913,2.516803,1265.0
5298,2004,51.44,-116.34,0,0,0,0,YOHO PARK,Alberta,0.0,0.842731,0.0,0.0,0.989087,0.513359,0.313377,0.424476,2.174512,3.312389,0.595165,0.0,0.737336,2.704839,1265.0
5299,2005,51.44,-116.34,1,1,1,2,YOHO PARK,Alberta,0.0,0.899558,0.0,0.0,0.990431,0.524977,0.338469,0.510992,2.248161,3.427475,0.639607,0.0,0.859000,2.642887,1265.0
5300,2006,51.44,-116.34,2,2,0,2,YOHO PARK,Alberta,0.0,1.091597,0.0,0.0,1.019785,0.513335,0.353394,0.493145,2.214093,3.469206,0.686344,0.0,0.879977,2.998478,1265.0

In [27]:
weather_prod_final.to_csv("./data/user_data/02_counterfactual_analysis/weather_prod_final.csv", index = False)